.App {
  text-align: center;
}
.game{
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playingCards{
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
